<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDekxME1rarxCf9BS_LcB5AppcsM7kk7d8</string>
	<key>GCM_SENDER_ID</key>
	<string>317973465296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firatiletisim.edu.tr</string>
	<key>PROJECT_ID</key>
	<string>firat-iletisim</string>
	<key>STORAGE_BUCKET</key>
	<string>firat-iletisim.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317973465296:ios:aa683b66fed3752669f6d5</string>
</dict>
</plist>